{% extends "tasks/task_base.html" %}
{% load bootstrap3 %}
{% load tz %}

{% block task_content %}

<!-- If the user is either creator of the task or a member of the group of creator of task then show task details -->
{% if task.creator == request.user or task.creator.members.team == request.user.members.team %}
<div class="col-md-9">
  <h2>
    {{ task.title }}

    <!-- If the user is creator of the task allow him to edit the task -->
    {% if task.creator == request.user %}
    <a href="{% url 'tasks:update' slug=task.slug %}"><span class="glyphicon glyphicon-edit" ></span></a>
    {% endif %}

  </h2>
  <h4>{{ task.description }}</h4>
  <div class="row">
    <div class="col-md-3">
      <h5><strong>Created by: </strong>{% if request.user == task.creator %}You{% else %}{{ task.creator }}{% endif %}</h5>
    </div>
    <div class="col-md-3">
      <h5><strong>Status: </strong>{{ task.status }}</h5>
    </div>
    <div class="col-md-6">
      <h5><strong>Created on: </strong>{{ task.created_at|localtime }}</h5>
    </div>
  </div>

<!-- Comments section -->
<div class="row">
  <!-- Comment box for user to comment -->
  <div class="col-md-9">
    <form action="{% url 'tasks:comment' slug=task.slug username=request.user %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" name="" value="Post Comment" class="btn btn-primary btn-large">
    </form>
  </div>

  <!-- List of comments related to task -->
  <div class="col-md-9">
    <h4>
    {% if task.task_comments.count > 0 %}
    <strong>Comment{{ task.task_comments.count|pluralize }}:</strong>
    {% endif %}
    </h4>
    <div class="list-group">
      {% for comment in task.task_comments.all %}
      <div class="list-group-item">
        <div class="list-group-item-text container-fluid">
          <div class="row">
            <div class="col-md-12">
              <strong>{{ comment.user }}</strong> commented on <strong>{{ comment.created_at|localtime }}</strong>
            </div>
            <div class="col-md-12">
                <h3>{{ comment.message }}</h3>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
</div>

<!-- Assignees Section -->
<div class="col-md-3">

  <!-- List of Assignees -->
    <h4>
      <strong>Assignee{{ task.assignees.count|pluralize }}:</strong>
    </h4>
    <div class="list-group">
      {% for assignee in task.assignees.all %}
      <div class="list-group-item">
        {{ assignee }}
      </div>
      {% endfor %}
    </div>

    <!-- If current user is the creator of the task and belongs to a team allow the
    user to assign tasks to other users of his group -->
    {% if user == task.creator and user.members.team %}
    <!-- Assign task form -->
    <form action="{% url 'tasks:assign' slug=task.slug %}" method="post">
    {% csrf_token %}
    {% bootstrap_form assign_task_form %}
    <input type="submit" value="Assign" class="btn btn-primary">
    </form>

    <!-- Error messages to make site user friendly -->
    {% if messages %}
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    {% endif %}

</div>
{% else %}
<h1>You are not authorized to view this task</h1>
{% endif %}
{% endblock %}
